h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial,
  sans-serif;
  line-height: 1.8em;
  overflow-y: scroll !important;
}

#root {
  overflow-y: scroll;
}

.accent-font {
  font-family: "Monoton" !important;
}

.appbar h1 {
  font-family: "Monoton";
  font-size: 18px !important;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

hr {
  border-top: 1px solid #d8d8d8;
  border-bottom: none;
}


.center {
  text-align: center;
}

.docs-example {
  position: relative;
  padding: 3em 1em 1em;
  margin: 1.5rem 0 0;
  background: white;
}

.docs-example::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: smaller;
  font-weight: 500;
  content: "EXAMPLE";
}

.docs-example::after {
  clear: both;
  content: " ";
  display: table;
}

.docs-example > div > .btn + .btn,
.docs-example > .btn + .btn,
.docs-example > div > .label + .label,
.docs-example > div > .btn-group + .btn-group {
  margin-left: 5px;
}

.docs-example .btn-group-vertical .btn + .btn {
  margin-left: 0 !important;
}

.docs-example .btn-block + .btn-block {
  margin-left: 0;
}

.docs-example .card {
  max-width: 320px;
}

.docs-example + pre {
  padding: 1em;
  margin-top: 0 !important;
  clear: both;
}

.docs-sidebar .nav-item {
  padding: 0.2rem 0 0.2rem 0;
}

.docs-sidebar .nav-link {
  color: #888;
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  border-left: 2px solid transparent;
}

.docs-sidebar .nav-link:hover {
  color: #777;
}

.docs-sidebar .nav-link.active {
  color: #666;
  border-left: 2px solid #d9534f;
}

.docs-example > .container .row {
  margin-bottom: 1rem;
}

.docs-example > .container .row > [class^="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #e5edf5;
  border: 1px solid #c9c1d5;
  color: #5f5f5f;
}

.docs-example .form-control + .form-control {
  margin-top: 0.5rem;
}

.docs-example .nav-tabs {
  margin-bottom: 1rem;
}

.docs-component-section {
  margin-top: 30px;
  padding-top: 30px;
}

.docs-component-props {
  padding-top: 10px;
}

.annotation-xy-label .tooltip-content,
.annotation-network-label .tooltip-content {
  position: relative;
  transform: translate(calc(-50% + 7px), calc(-100% - 20px));
}

.annotation-xy-label .tooltip-content:before,
.annotation-network-label .tooltip-content:before {
  border-right: inherit;
  border-bottom: inherit;
  bottom: -8px;
  left: calc(50% - 15px);
}

.tooltip-content {
  background: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  z-index: 999999;
  min-width: 120px;
}

.tooltip-content:before {
  background: inherit;
  content: "";
  padding: 0px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99;
}

.annotation-or-label.horizontal .tooltip-content {
  transform: translate(0, -50%);
  position: relative;
  left: 20px;
}

.annotation-or-label.horizontal .tooltip-content:before {
  top: calc(50% - 9px);
  left: -9px;
  border-left: inherit;
  border-bottom: inherit;
}

.annotation-or-label.vertical .tooltip-content {
  position: relative;
  transform: translate(-50%, calc(-100% - 20px));
}

.annotation-or-label.vertical .tooltip-content:before {
  bottom: -10px;
  left: calc(50% - 9px);
  border-right: inherit;
  border-bottom: inherit;
}

.domain {
  fill: none;
}

.tick path {
  stroke: lightgray;
}

rect.extent {
  fill-opacity: 0.25;
  stroke: black;
  stroke-opacity: 0.75;
}
g.resize > rect {
  fill-opacity: 0.25;
  stroke: black;
  stroke-opacity: 0.75;
}

#scrolly-frame {
  position: fixed;
  top: 0;
  right: 0;
}

.difference-overlay-a {
  stroke: rgba(0, 162, 206, 0.5);
}
.difference-overlay-b {
  stroke: rgba(179, 51, 29, 0.5);
}

.example-wrapper {
  display: inline-block;
  width: 100%;
  height: 300px;
  border: 1px solid lightgray;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

@media (min-width: 700px) {
  .example-wrapper {
    width: 30%;
    margin: 0.5%;
  }
}

.example-wrapper h1 {
  /* font-weight: 900; */
  font-size: 20px;
  background: white;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.example-wrapper .frame {
  position: relative;
  left: -100px;
  top: -70px;
}

.example-wrapper .xyframe-annotation-layer > div {
  display: none;
}

.example-wrapper svg,
.example-wrapper canvas {
  transform: scale(0.75);
}

.nav-buttons > div {
  margin: 5px;
}

.process {
  position: absolute;
}

.process-container {
  position: absolute;
  height: 800px;
  width: 800px;
  background: white;
}

.comparison-slider {
  width: 700px;
}

.process-buttons > div {
  margin-left: 5px;
}

circle.frame-hover {
  fill: none;
  stroke: gray;
}

.tagline {
  font-style: italic;
  margin-top: 0.25rem;
  font-size: 16px;
}

.axis-baseline.leads {
  stroke: rgba(179, 51, 29, 0.5);
}

.tick-line.leads {
  stroke: rgba(179, 51, 29, 0.5);
}

.tick-line.sales {
  stroke: rgba(0, 162, 206, 0.5);
}

.axis-baseline.sales {
  stroke: rgba(0, 162, 206, 0.5);
}

.axis-title.sales text {
  fill: rgba(0, 162, 206);
}

.axis > .sales .axis-label {
  fill: rgba(0, 162, 206);
}

.axis > .leads .axis-label {
  fill: rgba(179, 51, 29);
}

.axis-title.leads text {
  fill: rgba(179, 51, 29);
}

.st0 {
  fill: #5b5b5b;
}
.st1 {
  fill: #7f7f7f;
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: #eee;
}
.st4 {
  fill: #ccc;
}
.st5 {
  fill: #eee;
}
.st6 {
  font-family: "ArialMT";
}
.st7 {
  font-size: 11px;
}
.st8 {
  fill: #eee;
}
.st9 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}
.st10 {
  fill: #ffffff;
  stroke: #ffffff;
}
.st11 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
}

.dot-com-bubble .annotation-subject path {
  fill-opacity: 0.1;
  opacity: 1;
  stroke-opacity: 0;
  fill: url(#bubbleGradient);
}

.drawer-title {
  background-color: #ac9739;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 10000px) {
  .drawer-title {
    min-height: 64px;
  }
}
@media (max-width: 600px) {
  .drawer-title {
    min-height: 48px;
  }
}

.MuiBackdrop-root {
  opacity: 0 !important;
}

.MuiDrawer-modal {
  pointer-events: none;
}

.MuiDrawer-paper {
  pointer-events: all;
}

.semiotic-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

.docs-example button {
  color: white;
}

.annotation text {
}

.annotation path {
  stroke-width: 1px;
}

.sharedTooltip .annotation path {
  stroke: black;
}

.matrixWrapper .showingTickLine path {
  stroke: black;
  stroke-width: 2.5px;
  stroke-dasharray: 0;
}

.matrixWrapper .hiddenTickLine path {
  stroke-width: 0px;
}

.matrixWrapper .axis-title text {
  font-size: 20px;
  font-weight: bold;
}

.matrixWrapper .annotation-xy-label {
  background: rgba(255, 255, 255, 1);
  border: 2px black solid;
  font-size: 16px;
  color: black;
  padding: 10px;
  min-width: 100px;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif !important;
  text-align: center;
  color: #212121;
  font-size: 13px;
  z-index: 2000;
  transform: translate(-50%, calc(-100% - 20px));
}

.matrixWrapper .annotation-xy-label:before {
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  background: rgba(255, 255, 255, 1);
  content: "";
  padding: 5px;
  transform: translate(-9px) rotate(45deg);
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -9px;
  z-index: 2000;
}

.matrixWrapper .annotation-layer-svg circle {
  fill: black;
}

.decisionMatrixLegend path {
  stroke: black;
}

.decisionMatrixLegend tspan {
  stroke: black;
}

.annotation path.connector-end {
  stroke-width: 1px;
  stroke-dasharray: 0;
}

.purple-gradient {
  stroke: none;
  fill: url(#purple-gradient);
}

.blue-gradient {
  stroke: none;
  fill: url(#blue-gradient);
}