/* Settings > Colors */
textarea,
textbox {
  outline: none;
}
.code {
  font-family: Courier New, monospace;
  color: #2c472e;
  font-size: 11px;
  margin: 2px;
  padding: 0;
}
pre {
  font-size: 11px;
  margin: 2px;
  padding: 0;
}
.annotation-x-line {
  stroke: blue;
  stroke-width: 1px;
  stroke-dasharray: 5 5;
}
.annotation-y-line {
  stroke: purple;
  stroke-width: 1px;
  stroke-dasharray: 10 10;
}
.divided-line-xy .xscale .tick > line {
  stroke-opacity: 0;
}
.divided-line-xy .yscale .tick > line {
  stroke: #00a2ce;
  stroke-opacity: 0.5;
}
.divided-line-or .yscale .tick > line {
  stroke: #b3331d;
  stroke-opacity: 0.5;
}
.divided-line-xy .yscale .tick > text {
  fill: #00a2ce;
  fill-opacity: 0.5;
}
.divided-line-or .yscale .tick > text {
  fill: #b3331d;
  fill-opacity: 0.5;
}
.annotations path {
  fill: none;
  stroke: #b3331d;
  stroke-width: 1px;
}
.annotations text {
  fill: #b3331d;
}
path.connector-arrow {
  fill: #b3331d;
}
.annotation-note rect {
  fill: none;
}
