/tests/output/coverage/**/*
/.idea/
.agignore
.npmrc
.nyc_output/
/node_modules
/lib

.DS_Store
npm-debug.log
yarn-error.log
logs/*
*-compiled*
build
coverage

examples/dist/bundle.js
.vscode/settings.json
*.sublime-project
*.sublime-workspace
dist/semiotic.js

/dist
