/tests/output/coverage/**/*
/.idea/
.agignore
.npmrc
.nyc_output/
/node_modules
/lib
/dist

.DS_Store
npm-debug.log
logs/*
*-compiled*
build

examples/dist/bundle.js
.eslintrc
.prettierrc
.vscode/settings.json
