.frame {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.axis-baseline {
  stroke: #ddd;
}

/*difference between this and 
.tickline?*/
/* difference between using a radial tick paath vs a tick paghs in xyframe is this necesary? or can you add the tick class to the radial ticks as well*/
.tick,
.axis-tick path {
  stroke: #ddd;
}
