/* Settings > Colors */
textarea,
textbox {
  outline: none;
}
.code {
  font-family: Courier New, monospace;
  color: #2c472e;
  font-size: 11px;
  margin: 2px;
  padding: 0;
}
pre {
  font-size: 11px;
  margin: 2px;
  padding: 0;
}
.annotation-x-line {
  stroke: blue;
  stroke-width: 1px;
  stroke-dasharray: 5 5;
}
.annotation-y-line {
  stroke: purple;
  stroke-width: 1px;
  stroke-dasharray: 10 10;
}
.divided-line-xy .xscale .tick > line {
  stroke-opacity: 0;
}
.divided-line-xy .yscale .tick > line {
  stroke: #00a2ce;
  stroke-opacity: 0.5;
}
.divided-line-or .yscale .tick > line {
  stroke: #b3331d;
  stroke-opacity: 0.5;
}
.divided-line-xy .yscale .tick > text {
  fill: #00a2ce;
  fill-opacity: 0.5;
}
.divided-line-or .yscale .tick > text {
  fill: #b3331d;
  fill-opacity: 0.5;
}

body {
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  color: #ac9739;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 30px;
}
.container img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.66em;
  margin-top: 0;
}
h1,
.h1 {
  font-size: 3em;
}
h2,
.h2 {
  font-size: 2em;
  font-weight: 300;
  margin-top: 2em;
}
h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.7em;
  margin-top: 2em;
}
h4,
.h4 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 2em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.page-footer,
.page-header {
  padding: 30px 0;
}
.page-header {
  background-color: #464d70;
  color: #d1d3db;
  text-align: center;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  color: white;
}
.page-header img {
  width: 150px;
}
.page-header p {
  font-size: 1.2em;
  margin: 0;
}
.page-header a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
}
.page-header a:hover,
.page-header a:focus {
  border-bottom-color: white;
  outline: none;
  text-decoration: none;
}
.page-footer {
  background-color: #fafafa;
  color: #999;
  padding: 30px 0;
  text-align: center;
}
.page-footer a {
  color: black;
}
.domain {
  fill: none;
}
.tick path {
  stroke: lightgray;
}
rect.extent {
  fill-opacity: 0.25;
  stroke: black;
  stroke-opacity: 0.75;
}
g.resize > rect {
  fill-opacity: 0.25;
  stroke: black;
  stroke-opacity: 0.75;
}
#scrolly-frame {
  position: fixed;
  top: 0;
  right: 0;
}
.difference-overlay-a {
  stroke: blue;
}
.difference-overlay-b {
  stroke: red;
}
